.react-resizable {
  position: relative;
}
.resize {
  border: 1px solid #5b9bd5;
}

.custom-handle {
  position: absolute;
  $size: 6px;
  width: $size;
  height: $size;
  background-color: #5b9bd5;
  border: 1px solid #accdea;
}
.custom-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
}
.custom-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.custom-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
}
.custom-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
}
.custom-handle-w,
.custom-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.custom-handle-w {
  left: 0;
}
.custom-handle-e {
  right: 0;
}
