.container {
  font-size: 14px;
  position: relative;
  height: 100%;
  z-index: 1000;
  &:hover .button {
    display: block;
  }
  .buttons {
    height: inherit;
  }
  .information-container {
    padding: 0 10px;
  }
  .button {
    position: absolute;
    padding: 6px 8px;
    font-size: 12px;
    border-radius: 8%;
    background-color: #ff6fb5;
    cursor: pointer;
    display: none;
  }
  .top-handle {
    top: -15px;
  }
  .top {
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .rigth {
    right: -15px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .bottom {
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: red;
  }
  .add-menu {
    position: absolute;
    width: 100px;
    right: -100px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    button {
      cursor: pointer;
      padding: 3px 5px;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 5px;
      font-size: 8px;
      background-color: #ff6fb5;
      border: 1px solid #8b3d63;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
